@charset "UTF-8";
#box {
  height: 100%;
}

.content {
  width: 91.73333vw;
  height: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 13.6vw;
}

header .content {
  display: flex;
  align-items: center;
}

header .content .dianwei {
  display: flex;
  align-items: center;
}

header .content .dianwei a {
  font-size: 3.46667vw;
  color: #4a4a4a;
}

header .content .dianwei i {
  color: #010101;
  margin-left: 2.66667vw;
}

header .content form {
  width: 68vw;
  height: 8vw;
  background-color: #f2f2f2;
  margin-left: 2.66667vw;
  display: flex;
  border-radius: 3.33333vw;
  padding-left: 3.33333vw;
  box-sizing: border-box;
}

header .content form i {
  width: 3.73333vw;
  height: 100%;
  font-family: "iconfont";
  font-size: 3.73333vw;
  color: #545454;
  line-height: 8vw;
  margin-right: 2.66667vw;
}

header .content form input {
  width: 54.93333vw;
  height: 100%;
  font-size: 3.46667vw;
  color: #9a9a9a;
  background-color: #f2f2f2;
  line-height: 8vw;
  box-sizing: border-box;
}

header .content .icon-wode {
  font-family: "iconfont";
  font-size: 5.06667vw;
  margin-left: 4vw;
}

main {
  width: 100%;
}

main .banner {
  width: 100%;
  height: 34.66667vw;
}

main .banner img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

main .main1 {
  width: 100%;
}

main .main1 .content {
  padding-bottom: 3.46667vw;
  box-shadow: 0 0.66667vw 0.4vw 0 #f5f5f5;
}

main .main1 .content ul {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  padding: 5.6vw 0 6.93333vw 0;
  box-sizing: border-box;
}

main .main1 .content ul li:nth-child(1),
main .main1 .content ul li:nth-child(6) {
  margin-left: 0;
}

main .main1 .content ul li {
  margin: 4.66667vw 0 0 7.2vw;
}

main .main1 .content ul li a {
  display: flex;
  flex-direction: column;
}

main .main1 .content ul li a span {
  width: 12vw;
  height: 12vw;
}

main .main1 .content ul li a p {
  font-size: 3.2vw;
  color: #273b53;
  margin-top: 1.86667vw;
}

main .main1 .content ul li:nth-child(1) a span {
  background: url(../移动端/images/menu_icon3.png) no-repeat -0.8vw -0.74667vw;
  background-size: 55.46667vw 41.6vw;
}

main .main1 .content ul li:nth-child(2) a span {
  background: url(../移动端/images/menu_icon3.png) no-repeat -14.66667vw -0.74667vw;
  background-size: 55.46667vw 41.6vw;
}

main .main1 .content ul li:nth-child(3) a span {
  background: url(../移动端/images/menu_icon3.png) no-repeat -28.53333vw -0.74667vw;
  background-size: 55.46667vw 41.6vw;
}

main .main1 .content ul li:nth-child(4) a span {
  background: url(../移动端/images/menu_icon3.png) no-repeat -42.4vw -0.74667vw;
  background-size: 55.46667vw 41.6vw;
}

main .main1 .content ul li:nth-child(5) a span {
  background: url(../移动端/images/menu_icon3.png) no-repeat -0.8vw -14.66667vw;
  background-size: 55.46667vw 41.6vw;
}

main .main1 .content ul li:nth-child(6) a span {
  background: url(../移动端/images/menu_icon3.png) no-repeat -0.8vw -28.53333vw;
  background-size: 55.46667vw 41.6vw;
}

main .main1 .content ul li:nth-child(7) a span {
  background: url(../移动端/images/menu_icon3.png) no-repeat -14.66667vw -14.66667vw;
  background-size: 55.46667vw 41.6vw;
}

main .main1 .content ul li:nth-child(8) a span {
  background: url(../移动端/images/menu_icon3.png) no-repeat -28.53333vw -14.66667vw;
  background-size: 55.46667vw 41.6vw;
}

main .main1 .content ul li:nth-child(9) a span {
  background: url(../移动端/images/menu_icon3.png) no-repeat -42.4vw -14.66667vw;
  background-size: 55.46667vw 41.6vw;
}

main .main1 .content ul li:nth-child(10) a span {
  background: url(../移动端/images/menu_icon3.png) no-repeat -28.53333vw -28.53333vw;
  background-size: 55.46667vw 41.6vw;
}

main .main1 .content .wuyou {
  display: flex;
  justify-content: flex-start;
}

main .main1 .content .wuyou .icon-notice-fill {
  font-family: "iconfont";
  font-size: 3.46667vw;
  color: #fa4647;
}

main .main1 .content .wuyou p {
  font-size: 3.2vw;
  color: #31363c;
  margin-left: 2.13333vw;
}

main .main1 .content .wuyou .icon-youbian {
  font-family: "iconfont";
  font-size: 3.46667vw;
  color: #cfcfcf;
  margin-left: 17.33333vw;
}

main .main2 .content {
  padding-top: 8.66667vw;
  box-sizing: border-box;
}

main .main2 .content h2 {
  width: 100%;
  font-size: 5.33333vw;
  line-height: 5.33333vw;
  color: #313237;
}

main .main2 .huadong {
  width: 100%;
  margin-top: 5.33333vw;
}

main .main2 .huadong ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  overflow: auto;
}

main .main2 .huadong li {
  width: 85.86667vw;
  height: 32vw;
  margin-left: 3.2vw;
}

main .main2 .huadong li a img {
  width: 85.86667vw;
  height: 32vw;
}

main .main3 {
  width: 100%;
  height: 9.6vw;
  margin: 11.2vw 0 1.6vw 0;
}

main .main3 .content {
  display: flex;
  justify-content: space-between;
}

main .main3 .content h2 {
  font-size: 5.06667vw;
  color: #050505;
  line-height: 9.6vw;
}

main .main3 .content ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .main3 .content ul li:nth-child(1) {
  color: #de353c;
}

main .main3 .content ul li:nth-child(2) {
  margin: 0 5.33333vw;
}

main .main3 .content ul li {
  font-size: 2.93333vw;
  color: #9f9f9f;
}

main .main4 {
  width: 100%;
}

main .main4 .content ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

main .main4 .content ul li {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #f5f5f5;
  padding: 5.06667vw 0 2.4vw 0;
  box-sizing: border-box;
}

main .main4 .content ul li span {
  width: 27.73333vw;
  height: 21.33333vw;
}

main .main4 .content ul li span img {
  max-width: 100%;
  height: auto;
}

main .main4 .content ul li .main4-right {
  margin-left: 3.73333vw;
}

main .main4 .content ul li .main4-right h3 {
  font-size: 4vw;
  color: #727274;
  width: 59.2vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

main .main4 .content ul li .main4-right p {
  font-size: 2.66667vw;
  color: #9a9a9a;
  margin: 2vw 0;
}

main .main4 .content ul li .main4-right .xiao {
  width: 59.2vw;
  display: flex;
  flex-wrap: nowrap;
}

main .main4 .content ul li .main4-right .xiao a {
  font-size: 2.66667vw;
  height: 4.26667vw;
  padding: 0 1.33333vw;
  box-sizing: border-box;
}

main .main4 .content ul li .main4-right .xiao .one {
  background-color: #fef0f0;
  color: #cb717a;
}

main .main4 .content ul li .main4-right .xiao .two {
  background-color: #fff6ed;
  color: #eeb242;
  margin: 0 1.86667vw;
}

main .main4 .content ul li .main4-right .xiao .three {
  background-color: #f0fbf5;
  color: #6ed3ff;
}

main .main4 .content ul li .main4-right .zuihou {
  margin-top: 2.4vw;
}

main .main4 .content ul li .main4-right .zuihou em {
  font-size: 3.46667vw;
  color: #e43039;
}

main .main4 .content ul li .main4-right .zuihou i {
  font-size: 2.4vw;
  color: #c6c6c6;
  margin-left: 4.53333vw;
}

footer {
  width: 100%;
  background-color: #2f3130;
}

footer .f-top {
  border-bottom: 1px solid #393b3a;
  height: 8vw;
}

footer .f-top ul {
  display: flex;
  align-items: center;
  height: 8vw;
}

footer .f-top ul li {
  font-size: 2.4vw;
  color: #a1a1a1;
  padding: 0 1.06667vw;
  box-sizing: border-box;
  border-left: 1px solid #a1a1a1;
}

footer .f-top ul li:nth-chil(1) {
  border-left: none;
}

footer .f-bottom {
  height: 13.33333vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .f-bottom .shou {
  width: 13.33333vw;
  display: flex;
  align-items: center;
  justify-content: sflex-start;
}

footer .f-bottom .shou .icon-iconfontapple {
  font-family: "iconfont";
  font-size: 5.06667vw;
}

footer .f-bottom .shou h4 {
  font-size: 2.4vw;
  color: #575757;
  line-height: 2.66667vw;
}

footer .f-bottom .anzuo {
  justify-content: flex-start;
  width: 13.33333vw;
  display: flex;
  align-items: center;
}

footer .f-bottom .anzuo .icon-anzhuo {
  font-family: "iconfont";
  font-size: 5.06667vw;
}

footer .f-bottom .anzuo h4 {
  font-size: 2.4vw;
  color: #575757;
  line-height: 2.66667vw;
}

footer .f-bottom .text {
  width: 57.33333vw;
  text-align: right;
  font-size: 2.4vw;
  line-height: 3.33333vw;
  color: #575757;
}
